<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<title>LANGUAGE LEARNING APP</title>
<link rel="icon" type="image/x-icon" href="../images/languageIcon.png">
<link rel="stylesheet" th:href="@{/css/navbar.css}">
<link rel="stylesheet" th:href="@{/css/coursesPage.css}">
<script src="/js/logout.js"></script>
</head>
<body>
	<nav class="navbar">
		<h1>Language Learning App</h1>
		<ul>
			<li><a href="/learner-page">Home</a></li>
			<li><a href="/learner-page/my-profile">My Profile</a></li>
			<li><a href="/learner-page/courses">Courses</a></li>
			<li><a href="/learner-page/appointments">Appointment</a></li>
		</ul>
		<div class="logout-container">
			<button onclick="logout()" class="logout-button">Logout</button>
		</div>
	</nav>

	<div class="container mt-5">
		<h2>Courses</h2>
		<div class="row">
			<div class="col-md-4" th:each="course : ${courses}">
				<div class="card course-card">
					<img
						th:src="@{'/learner-page/course-image/' + ${course.courseImage.id}}"
						alt="Course Image" />
					<div class="card-body">
						<h5 class="card-title" th:text="${course.courseTitle}">Course
							Title</h5>
						<p class="card-text" th:text="${course.contentInformation}">Course
							Description</p>
						<div class="button-group">
							<a th:href="@{/learner-page/courses/{id}(id=${course.id})}"
								class="btn btn-primary btn-custom">View Course</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script>
		function confirmDelete() {
			return confirm('Are you sure you want to delete this course?');
		}
	</script>

	<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>
