<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<title>LANGUAGE LEARNING APP</title>
<link rel="icon" type="image/x-icon" href="../images/languageIcon.png">
<link rel="stylesheet" th:href="@{/css/navbar.css}">
<link rel="stylesheet" th:href="@{/css/createPracticeQuestions.css}">
<script src="/js/logout.js"></script>
</head>
<body>
	<nav class="navbar">
		<h1>Language Learning App</h1>
		<ul>
			<li><a href="/instructor-page">Home</a></li>
			<li><a href="/instructor-page/my-profile">My Profile</a></li>
			<li><a href="/instructor-page/courses">Courses</a></li>
			<li><a href="/instructor-page/appointments">Appointment</a></li>
		</ul>
		<div class="logout-container">
			<button onclick="logout()" class="logout-button">Logout</button>
		</div>
	</nav>

	<div class="addcnt">
		<h1>Add Practice Question</h1>
		<form
			th:action="@{/instructor-page/courses/contents/practice-questions}"
			th:object="${practiceQuestions}" method="post">
			<div class="form-group mb-3">
				<label for="contentId">Select Content</label> <select
					class="form-select" id="contentId" name="contentId" required>
					<option value="" selected disabled>Select a content</option>
					<th:block th:each="content : ${contents}">
						<option th:value="${content.id}" th:text="${content.contentTitle}"></option>
					</th:block>
				</select>
			</div>
			<label for="question">Question:</label> <input type="text"
				id="question" name="question" th:field="*{question}" required /> <label
				for="optionA">Option A:</label> <input type="text" id="optionA"
				name="optionA" th:field="*{optionA}" required /> <label
				for="optionB">Option B:</label> <input type="text" id="optionB"
				name="optionB" th:field="*{optionB}" required /> <label
				for="optionC">Option C:</label> <input type="text" id="optionC"
				name="optionC" th:field="*{optionC}" required /> <label
				for="optionD">Option D:</label> <input type="text" id="optionD"
				name="optionD" th:field="*{optionD}" required /> <label
				for="correctAnswer">Correct Answer:</label> <input type="text"
				id="correctAnswer" name="correctAnswer" th:field="*{correctAnswer}"
				required />
			<button type="submit">Add Question</button>
		</form>
	</div>
</body>
</html>
