<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Error Page</title>
<link rel="stylesheet" href="../css/styles.css">
<link rel="icon" type="image/x-icon" href="../images/languageIcon.png">
<link rel="stylesheet" th:href="@{/css/errorPage.css}">
</head>
<body>
	<div class="container">
		<div class="form-container">
			<h1>Error</h1>
			<div class="message" th:text="${error}"></div>
			<div class="link-container">
				<p>
					Go back to <a th:href="@{/login}">Login</a>
				</p>
			</div>
		</div>
	</div>
</body>
</html>
