<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Reset Password</title>
<link rel="stylesheet" href="../css/styles.css">
<link rel="icon" type="image/x-icon" href="../images/languageIcon.png">
<link rel="stylesheet" th:href="@{/css/loginPage.css}">
<script>
        function validatePassword(event) {
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirmPassword").value;
            var errorMessage = document.getElementById("error-message");
            if (password != confirmPassword) {
                errorMessage.textContent = "Passwords do not match!";
                errorMessage.style.display = "block";
                event.preventDefault();
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
	<div class="container">
		<div class="form-container">
			<h1>Reset Password</h1>
			<form id="resetPasswordForm" onsubmit="validatePassword(event)"
				method="post">
				<div class="form-group">
					<label for="password">New Password</label> <input type="password"
						id="password" name="password"
						placeholder="Enter your new password" required>
				</div>
				<div class="form-group">
					<label for="confirmPassword">Confirm New Password</label> <input
						type="password" id="confirmPassword"
						placeholder="Confirm your new password" required>
				</div>
				<div id="error-message" class="message message-error"
					style="display: none;"></div>
				<button type="submit">Reset Password</button>
			</form>
			<div th:if="${message}" class="message message-success"
				th:text="${message}"></div>
			<div th:if="${error}" class="message message-error"
				th:text="${error}"></div>
			<div class="link-container">
				<p>
					<a th:href="@{/login}" class="login-link">Login</a>
				</p>
			</div>
		</div>
	</div>
</body>
</html>
